@media (max-width: 3200px) {
  .container .about .about__inner {
    max-width: 100%;
  }
}

@media (max-width: 1920px) {
  .container .about .about__inner {
    max-width: 1370px;
  }
}

@media (max-width: 1900px) {
  .container .gallary-slider .slick-arrow {
    border: none;
  }

  .container .gallary-slider__slogan {
    bottom: 228px;
  }
}

@media (max-width: 1850px) {
  .container .intro .home-page__inner {
    margin-right: 320px;
    margin-top: 265px;
  }

  .about .about__inner {
    padding-left: 435px;
  }

  .container .gallary-slider .slick-arrow.slick-prev {
    left: 730px;
  }

  .container .gallary-slider .slick-arrow.slick-next {
    right: 710px;
  }
}

@media (max-width: 1800px) {
  .accordion .accordion__inner {
    padding-left: 300px;
    padding-right: 300px;
  }

  .container .gallary-slider__signature::before {
    width: 33px;
    left: 38%;
  }
}

@media screen and (max-width: 1750px) {
  .container .intro .home-page__inner {
    margin-right: 280px;
  }

  .about .about__inner {
    padding-left: 400px;
  }
}

@media screen and (max-width: 1650px) {
  .container .intro .home-page__inner {
    margin-right: 240px;
    margin-top: 235px;
  }

  .about .about__inner {
    padding-left: 345px;
  }

  .about .about__questions-titles:hover::after,
  .about .about__questions-titles:active::after {
    width: 100%;
  }

  .container .gallary-slider__inner {
    margin: 0 469px;
    padding-top: 230px;
  }

  .container .gallary-slider .slick-arrow.slick-prev {
    left: 650px;
  }

  .container .gallary-slider .slick-arrow.slick-next {
    right: 630px;
  }

  .container .footer__logo::before,
  .container .footer__logo::after {
    width: 280px;
  }
}

@media screen and (max-width: 1560px) {
  .about .about__inner {
    padding-left: 288px;
  }

  .about .about__answers-title {
    padding: 0px 285px 0px 0px;
  }

  .about .about__questions-titles {
    padding-right: 134px;
  }

  .about .about__questions-titles:hover::after,
  .about .about__questions-titles:active::after {
    width: 60%;
  }

  .about .about__questions::after {
    width: 90%;
  }
}

@media screen and (max-width: 1480px) {
  .container .intro .home-page__inner {
    margin-right: 175px;
    margin-top: 235px;
  }

  .container .intro .home-page__arrow {
    padding-bottom: 33px;
  }

  .about .about__frame {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .about .about__inner {
    padding-left: 200px;
    margin-bottom: 0;
  }

  .about .about__answers {
    padding-right: 133px;
  }

  .about .about__answers-text {
    padding-top: 30px;
  }

  .about .about__answers-title {
    padding-right: 235px;
  }

  .about .about__questions-titles {
    padding-right: 0;
  }

  .about .about__questions-titles:hover::after,
  .about .about__questions-titles:active::after {
    width: 100%;
  }

  .container .gallary-slider__inner {
    margin: 0 380px;
  }

  .container .gallary-slider .slick-arrow.slick-prev {
    left: 555px;
  }

  .container .gallary-slider .slick-arrow.slick-next {
    right: 535px;
  }

  .container .footer__inner {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 1300px) {
  .container .gallary-slider__inner {
    margin: 0 313px;
  }

  .container .gallary-slider .slick-arrow.slick-prev {
    left: 495px;
  }

  .container .gallary-slider .slick-arrow.slick-next {
    right: 475px;
  }

  .container .gallary-slider {
    margin-bottom: 130px;
  }

  .container .footer__inner {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1240px) {
  .container .intro .header {
    height: 75px;
  }

  .container .intro .header__inner .menu__list-item {
    margin-left: 42px;
    margin-top: 29px;
  }

  .container .intro .header__inner .user-nav {
    margin-top: 29px;
    margin-left: 0;
  }

  .container .intro .header__inner .user-nav__link {
    padding: 0px 27px 0px 27px;
  }

  .container .intro .header__inner .logo {
    margin-top: 22px;
  }

  .container .intro .home-page__inner {
    margin-right: 110px;
    margin-top: 144px;
  }

  .container .intro .home-page__title {
    margin-bottom: 24px;
  }

  .container .intro .home-page__text {
    margin-bottom: 40px;
  }

  .container .intro .home-page__start {
    margin-bottom: 20px;
    padding: 20px 77px 21px 33px;
  }

  .container .intro .home-page__start::after {
    height: 1px;
    width: 37px;
    top: 27px;
    right: 27px;
  }

  .container .intro .home-page__link::after {
    right: 10px;
    top: 9px;
  }

  .container .intro .home-page__slogan {
    left: 40px;
    top: -45px;
  }

  .container .intro .home-page__slogan::before {
    right: 7px;
    width: 1px;
  }

  .about .about__frame {
    width: 50%;
    margin-top: 75px;
    margin-bottom: 85px;
  }

  .about .about__answers-text {
    padding-right: 120px;
  }

  .about .about__questions {
    margin-bottom: 80px;
  }

  .about .about__inner {
    padding-left: 178px;
  }

  .about .about__answers {
    padding-right: 85px;
  }

  .container .shop .slider__item-btn {
    padding: 23px 55px 24px 29px;
  }

  .container .shop .slider__item-btn::after {
    display: none;
  }
}

@media (max-width: 1165px) {
  .container .gallary-slider__inner {
    margin: 0 258px;
  }

  .container .gallary-slider .slick-arrow.slick-prev {
    left: 420px;
  }

  .container .gallary-slider .slick-arrow.slick-next {
    right: 400px;
  }
}

@media (max-width: 1105px) {
  .container .intro .header {
    height: 55px;
  }

  .container .intro .header__inner .menu__list-item {
    margin-left: 24px;
    margin-top: 18px;
  }

  .container .intro .header__inner .user-nav {
    margin-top: 17px;
    margin-left: 0;
  }

  .container .intro .header__inner .user-nav__link {
    padding: 0px 27px 0px 27px;
  }

  .container .intro .header__inner .user-nav .user-nav__link:nth-child(2) {
    padding-left: 40px;
  }

  .container
    .intro
    .header__inner
    .user-nav
    .user-nav__link:nth-child(2)::before {
    left: 16px;
  }

  .container .intro .header__inner .logo {
    margin-top: 13px;
  }

  .container .intro .home-page__inner {
    margin-right: 60px;
    margin-top: 155px;
  }

  .container .intro .home-page__title {
    letter-spacing: 12px;
    max-width: 540px;
  }

  .container .intro .home-page__text {
    margin-bottom: 30px;
    letter-spacing: 3px;
  }

  .container .intro .home-page__link {
    letter-spacing: 3px;
  }

  .container .intro .home-page__start {
    padding: 12px 52px 12px 19px;
  }

  .container .intro .home-page__start::after {
    width: 24px;
    top: 20px;
    right: 17px;
  }

  .container .intro .home-page__link {
    letter-spacing: 1.5px;
  }

  .container .intro .home-page__arrow {
    padding-bottom: 10px;
  }

  .container .intro .home-page__slogan {
    left: 25px;
  }

  .about .about__inner {
    width: 85%;
    padding-left: 130px;
  }

  .about .about__questions-titles:hover::after,
  .about .about__questions-titles:active::after {
    width: 100%;
  }

  .about .about__answers-title {
    padding-right: 166px;
  }

  .about .about__answers {
    padding-right: 35px;
  }

  .about .about__answers-text {
    padding-right: 100px;
  }

  .container .accordion {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .accordion .accordion__inner {
    padding-left: 200px;
    padding-right: 200px;
  }

  .container .accordion__btn {
    font-size: 16px;
    line-height: 3.5;
    letter-spacing: 4px;
  }

  .container .footer__inner {
    margin-left: 145px;
    margin-right: 145px;
  }

  .container .footer__logo::before,
  .container .footer__logo::after {
    top: 23px;
    width: 240px;
  }
}

@media (max-width: 1024px) {
  .container .accordion__inner::after {
    width: 69%;
  }

  .container .gallary-slider__inner {
    margin: 0 145px;
  }

  .container .gallary-slider .slick-arrow.slick-prev {
    left: 380px;
  }

  .container .gallary-slider .slick-arrow.slick-next {
    right: 350px;
  }
}

@media (max-width: 940px) {
  .about .about__answers-pictures {
    display: none;
  }

  .about .about__frame {
    margin-top: 55px;
    margin-bottom: 60px;
  }

  .about .about__questions {
    margin-bottom: 60px;
    padding-right: 0;
  }

  .about .about__answers-text {
    padding-top: 16px;
    font-size: 19px;
  }

  .about .about__questions::after {
    width: 110%;
  }

  .about .about__inner {
    margin-bottom: 50px;
    width: auto;
  }

  .container .shop__title {
    margin-bottom: 50px;
  }

  .container .shop .slider__item {
    height: 440px;
    min-height: 10px;
    padding-top: 26px;
  }

  .container .shop .slider__item-order {
    height: 60px;
    margin-top: -51px;
  }

  .container .shop .slider__item-btn {
    padding: 17px 55px 21px 29px;
  }

  .container .accordion__inner::after {
    width: 66%;
  }

  .container .gallary-slider__item {
    background-position: center;
  }

  .container .gallary-slider .slick-arrow.slick-prev {
    left: 330px;
  }

  .container .gallary-slider .slick-arrow.slick-next {
    right: 300px;
  }

  .container .footer__inner {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 830px) {
  .container .accordion__inner::after {
    width: 61%;
  }

  .container .gallary-slider__inner {
    margin: 0px 98px;
  }

  .container .gallary-slider__slogan {
    bottom: 150px;
    left: 30px;
    font-size: 20px;
  }

  .container .gallary-slider .slick-arrow.slick-prev {
    left: 280px;
  }

  .container .gallary-slider .slick-arrow.slick-next {
    right: 250px;
  }

  .container .footer__logo::before,
  .container .footer__logo::after {
    width: 185px;
  }

  .container .footer__flex-inner {
    display: block;
  }

  .container .footer__logo {
    padding-bottom: 39px;
  }

  .container .footer__list-item {
    padding: 10px 0;
  }

  .container .footer__sosial {
    position: unset;
    padding: 20px 0;
    text-align: center;
  }

  .container .footer__sosial::after {
    display: none;
  }

  .container .footer__facebook {
    margin-left: 0;
  }
}

@media (max-width: 730px) {
  body.lock {
    overflow: hidden;
  }

  .container .intro .header {
    border: none;
  }

  .container .intro .header__inner .menu__list {
    display: block;
    position: fixed;
    text-align: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    transform: translate(0px, -100%);
    transition: transform 0.8s ease 0s;
    background-color: rgba(110, 119, 74, 0.9);
    z-index: 1;
  }

  .container .intro .header__inner .menu__list.active {
    transform: translate(0px, 0%);
  }

  .container .intro .header__inner .menu__list-link,
  .container .intro .header__inner .menu__list-link--active {
    display: block;
    padding: 22px 10px;
    font-size: 20px;
  }

  .container .intro .header__inner .menu__btn {
    width: 20px;
    height: 10px;
    display: block;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
    position: fixed;
  }

  .container .intro .header__inner .menu__btn.active::before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #ffffff;
    width: 30px;
  }

  .container .intro .header__inner .menu__btn.active::after {
    transform: rotate(-45deg);
    background-color: #ffffff;
    width: 30px;
  }

  .container .intro .header__inner .menu__btn.active span {
    transform: scale(0);
  }

  .container .intro .header__inner .menu__list-item:hover::after,
  .container .intro .header__inner .menu__list-item:active::after {
    display: none;
  }

  .container .intro .header__inner .logo {
    padding-left: 123px;
  }

  .container .intro .header__inner .user-nav__link {
    padding: 0px 43px 0px 6px;
  }

  .container .intro .header__inner .user-nav__link span {
    display: none;
  }

  .container .intro .header__inner .user-nav__link:first-child {
    padding-right: 10px;
  }

  .container .intro .header__inner .user-nav__link:last-child::after {
    content: "";
    position: absolute;
    background-image: url(../images/cart.svg);
    width: 19px;
    height: 19px;
  }

  .container .intro .header__inner .user-nav .user-nav__link:nth-child(2) {
    padding-left: 10px;
  }

  .container
    .intro
    .header__inner
    .user-nav
    .user-nav__link:first-child::before,
  .container
    .intro
    .header__inner
    .user-nav
    .user-nav__link:last-child::before {
    display: none;
  }

  .container
    .intro
    .header__inner
    .user-nav
    .user-nav__link:first-child::after {
    display: none;
  }

  .container .intro .home-page__arrow {
    opacity: 0;
  }

  .container .intro .home-page__slogan {
    top: 5px;
  }

  .container .intro .home-page__slogan::before {
    display: none;
  }

  .about .about__answers-text {
    padding-right: 20px;
  }

  .about .about__inner {
    padding-left: 55px;
  }

  .about .about__answers {
    padding-right: 5px;
  }

  .about .about__frame {
    width: 65%;
  }

  .container .shop .slider {
    margin-bottom: 30px;
  }

  .accordion .accordion__inner {
    padding-left: 100px;
    padding-right: 100px;
  }

  .container .accordion__inner::after {
    width: 82%;
  }

  .container .gallary-slider {
    display: none;
  }
}

@media (max-width: 680px) {
  .about .about__frame {
    margin-bottom: 35px;
  }

  .about .about__questions {
    display: block;
    margin-bottom: 20px;
  }

  .about .about__questions-titles {
    padding-bottom: 20px;
  }

  .about .about__questions::after {
    display: none;
  }

  .about .about__questions-titles:hover::after,
  .about .about__questions-titles:active::after {
    display: none;
  }

  .about .about__questions-titles:hover,
  .about .about__questions-titles:active {
    font-weight: 600;
  }

  .accordion .accordion__inner {
    padding-left: 60px;
  }

  .container .gallary-slider__inner {
    margin: 0px 50px;
  }

  .container .gallary-slider__slogan {
    bottom: 175px;
    font-size: 20px;
    left: 25px;
  }

  .container .footer__inner {
    margin-left: 30px;
    margin-right: 30px;
  }

  .container .footer__logo::before,
  .container .footer__logo::after {
    width: 100%;
    top: -30px;
  }

  .container .footer__form-input {
    width: 67%;
    padding-right: 80px;
    margin-bottom: 20px;
    margin-right: 0;
    border-right: 2px solid #ced6af;
  }

  .container .footer__form-btn {
    width: 80%;
  }

  .container .footer__form-search {
    margin-bottom: 38px;
  }

  .container .footer__copyrights {
    padding-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .container .intro .home-page__inner {
    margin-right: 30px;
    margin-top: 90px;
  }

  .container
    .intro
    .header__inner
    .user-nav
    .user-nav__link:nth-child(2)::before,
  .container .intro .header__inner .user-nav__link:last-child::after {
    display: none;
  }

  .container .intro .header__inner .user-nav__link {
    padding: 0px 0px 0px 0px;
  }

  .container .intro .header__inner .logo {
    padding-left: 44px;
  }

  .about .about__frame {
    width: 85%;
    margin-top: 35px;
    margin-bottom: 24px;
  }

  .about .about__inner {
    padding-left: 25px;
  }

  .about .about__answers-title {
    padding-right: 10px;
  }

  .about .about__questions-titles:hover::after,
  .about .about__questions-titles:active::after {
    display: none;
  }

  .about .about__questions-titles:hover,
  .about .about__questions-titles:active {
    font-weight: 600;
  }

  .container .accordion__btn {
    font-size: 15px;
    line-height: 3;
    letter-spacing: 3px;
    padding: 15px;
    padding-left: 35px;
    border-top: none;
  }

  .accordion .accordion__inner {
    padding-left: 33px;
    padding-right: 53px;
  }

  .container .accordion__title {
    margin-bottom: 35px;
  }

  .container .accordion {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .container .accordion__inner::after {
    width: 0%;
  }
}

@media (max-width: 400px) {
  .container .footer__form-input {
    width: 69%;
    padding-left: 15px;
  }
}
